ion-toolbar{
    --background: #93E022; 
    height: 100% !important;
    z-index: -1;
}
ion-header{
    height: 9% !important;
    background-color: #93E022;
}
ion-content{
    --background: url('../../assets/imgs/BACKGROUND3.png') 0 0/100% 100% no-repeat;
    width:102% !important;
    background-size: cover !important;
   background-attachment: fixed !important;
}
.bulp-img{
    height: 6vh;
    width: 6vh;
    margin-top: 2px;
}
.dollar-count-div{
    height: 4vh;
    width: 10vh;
    background-color: #7de7df;
    border: #06bbca 2px solid;
    border-radius: 5px;
    margin-left: -5vh;
    z-index: -1;
    margin-top: 9px;
}
.dollar-img{
    position: absolute;
    height: 5vh;
    width: 5vh;
    z-index: 2;
    margin-top: 5px;
}

.h1{
    font-family: 'LooseySans';
font-size: 3.2vh !important;
color: #feeb03;
text-align: center;
font-weight: bolder;
margin-top: -0.3vh;
   text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
@media (min-width: 375px) and  (max-width: 410px){
    .h1{
        font-family: 'LooseySans';
    font-size: 3.5vh;
    color: #feeb03;
    text-align: center;
    font-weight: bolder;
    margin-top: -0.3vh;
    margin-left: 10%;
       text-shadow:
       -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    }
}
.h1-2{
    font-family: 'LooseySans';
font-size: 3.7vh;
color: white;
text-align: left;
font-weight: bolder;
margin-top: 8vh;
margin-left: 2vh;
}
.stand-img{
    height: 25%;
    width: 50%;
}
.buttonActive{
    height: 8vh;
    width: 110%;
    border-radius: 15px;
    border: #d31cc4 3px solid;
    --background:#860f7c;
    margin-left: 15%;
    font-family: 'LooseySans';
    font-size: 4vh;
    --background-activated: #860f7c;
}
.buttonDeactive{
    height: 8vh;
    width: 110%;
    border-radius: 15px;
    border: #f0efef 3px solid;
    --background:white;
    --color: #860f7c !important;
    margin-left: 15%;
    font-family: 'LooseySans';
    font-size: 4vh;
}
ion-slides{
    --bullet-background: rgb(247, 8, 8) !important;
    --bullet-background-active: white !important;
}
// .avatar1-div{
//     height: 100px;
//     width: 100px;
//     background-color: white;
//     border-radius: 10px;
// }
.avatar1-img{
    height: 25vh;
    width: 21vh;
    margin-left: 20%;
    margin-right: auto;
}
.avatar2-img{
    height: 25vh;
    width: 21vh;
    margin-right: 10%;
    margin-left: auto;
}
.avatar3-img{
    height: 24.5vh;
    width: 22vh;
    margin-right: 10%;
    margin-left: auto;
    margin-top: 2%;
}
@media (min-width: 375px) and  (max-width: 411px){
    .avatar1-img{
        height: 25vh;
        width: 20vh;
        margin-left: 10%;
        margin-right: auto;
    }
    .avatar2-img{
        height: 25vh;
        width: 20vh;
        margin-right: 5%;
        margin-left: auto;
    }
}