
.custom-div{
    height: 40%;
    width: 100%;
    background-color: #ee3711;
    position: fixed;
    top: 30%;
}
.wrong-ans-img{
    height: 10vh;
    width: 10vh;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}
.h1{
    text-align: center;
    font-family: 'LooseySans';
    color: rgb(68, 3, 3);
    font-size: 4vh !important;
}
.h1-2{
    text-align: center;
    font-family: 'LooseySans';
    color: white;
    font-size: 3vh !important;
}
.btn{
    font-family: 'LooseySans';
    font-size: 3.5vh !important;
    letter-spacing: 1px;
     height: 12%;
     width: 35%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     --border-radius: 10px;
     --background:white;
     --color:#773007;
     
 }       