
<ion-content>
  <br><br><br>
<h1 class="h1">LEVEL COMPLETE</h1>
<br><br><br>

<img class="avatar" src="assets/imgs/right-ans-img.png">
<h1 class="h1-2">GOOD JOB!</h1>
<ion-row>
  <ion-col siz=5 style="text-align:right">
    <img class="star" src="assets/imgs/reward-star.png">
    <h1 class="h1-3">+30</h1>
  </ion-col>
  <ion-col size=2></ion-col>
  <ion-col siz=5 style="text-align:left">
      <img class="star" src="assets/imgs/dollar.png">
      <h1 class="h1-4">+130</h1>
    </ion-col>
</ion-row>
<br><br>
<ion-button expand="block" class="btn" (click)="ClickToMathPage()">FINISH</ion-button>
</ion-content>
