<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size=2>
                <img class="cross-img" src="assets/imgs/cross.png" (click)="openModal()">
            </ion-col>
            <ion-col size=6>
                <div class="top-div">

                </div>
            </ion-col>

            <ion-col size=2>
                <img class="dollar-img" src="assets/imgs/dollar.png">
            </ion-col>

        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="top-img-div">
        <img class="top-img" src="{{current?.imageURL}}">
    </div>
    <ion-row>
        <ion-col size=12>
            <h1 class="h1">{{current?.question}}</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size=12 no-padding>
            <div class="Mcqs-div" (click)="checkAnswer(1)" [class.right-ans]="isAnswerRight[0]"
                 [class.wrong-ans]="isAnswerWrong[0]">
                <h1 class="h1-2">{{current?.ans1}}</h1>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size=12 no-padding>
            <div class="Mcqs-div" (click)="checkAnswer(2)" [class.right-ans]="isAnswerRight[1]"
                 [class.wrong-ans]="isAnswerWrong[1]">
                <h1 class="h1-2">{{current?.ans2}}</h1>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size=12 no-padding>
            <div class="Mcqs-div3" (click)="checkAnswer(3)" [class.right-ans]="isAnswerRight[2]"
                 [class.wrong-ans]="isAnswerWrong[2]">
                <h1 class="h1-2">{{current?.ans3}}</h1>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size=12 no-padding>
            <div class="Mcqs-div3" (click)="checkAnswer(4)" [class.right-ans]="isAnswerRight[3]"
                 [class.wrong-ans]="isAnswerWrong[3]">
                <h1 class="h1-2">{{current?.ans4}}</h1>
            </div>
        </ion-col>
    </ion-row>
    <br><br><br><br><br><br><br><br><br><br>
    <app-footer2 style="position: fixed; bottom: 0px; width: 100%; z-index: 1111111123123;"></app-footer2>
</ion-content>
