@font-face {
    font-family: 'SansitaOne';
    src: url('assets/fonts/SansitaOne.ttf');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'LooseySans';
    src: url('assets/fonts/LooseySans.otf');
    font-weight: bolder;
    font-style: normal;
    
  }
  
  