<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size=2>
        <img class="cross-img" src="assets/imgs/cross.png" (click)="ClicktoBack()">
      </ion-col>
      <ion-col size=4>
        <div class="top-div">
    
        </div>
      </ion-col>
      <ion-col size =2>

      </ion-col>
      <ion-col size=2>
        <img class="dollar-img" src="assets/imgs/dollar.png">
      </ion-col>
      <ion-col size =2>
         <h1 class="h1">50</h1>
      </ion-col>
     </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
  
    <img class="top-flag-img" src="assets/imgs/top-flags.png">
     
  </ion-row>
  <ion-row>
    <ion-col size=5>
      <img class="oldman-img" src="assets/imgs/oldman.png">
    </ion-col>
    <ion-col size=1></ion-col>
    <ion-col size=4>
      <h1 class="h1-2">{{ 'FEATURED HEADER' | translate }}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <img class="vote-img" src="assets/imgs/vote-img.png">
  </ion-row>
  <div class="end-div">
     <ion-row>
       <ion-col size=10>
         <p>{{ 'FEATURED TEXT' | translate }}</p>
       </ion-col>
       <ion-col size=2>
        <img class="speaker-img" src="assets/imgs/speaker.png">
        
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col size=4>
       </ion-col>
       <ion-col size=4>
        <img class="finish-img" src="assets/imgs/finish-img.png" (click)="ClicktoBack()">
       </ion-col>
     </ion-row>
  </div>
</ion-content>
