<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size=2>
          <img class="bulp-img" src="assets/imgs/bulp.png">
      </ion-col>
      <ion-col size=2>
        <img class="dollar-img" src="assets/imgs/dollar.png">
      </ion-col>
      <ion-col size=2>
        <div class="dollar-count-div">
            <h1 class="h1">1000</h1>
        </div>
      </ion-col>

      <ion-col size=2>
        <img class="dollar-img" src="assets/imgs/star.png">
      </ion-col>
      <ion-col size=2>
        <div class="dollar-count-div">
            <h1 class="h1">30</h1>
        </div>
      </ion-col>
      <ion-col size=2>
          <img class="bulp-img" src="assets/imgs/b.png" (click)="ClicktoProfilepage()">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
<h1 class="h1-2">{{ 'FRIEND PAGE DESCRIPTION' | translate }}</h1>
</ion-row>
<ion-row>
  <ion-searchbar class="searchbar" mode="ios" placeholder=""></ion-searchbar>
</ion-row>
<ion-row>
  <div class="serach-friend-div">
     <h1 class="h1-3">{{ 'SEARCH FRIENDS' | translate }}</h1>
  </div>
</ion-row>
<h1 class="h1-2">{{ 'MY FRIENDS' | translate }}</h1>

<ion-row style="margin-top: -15px;">
  <div class="number-div">
     <h1>1</h1>
  </div>

  <div class="score-board-div">
     <ion-row>
       <ion-col size=3>
         <img class="space-suit" src="assets/imgs/space-suit.png">
       </ion-col>
       <ion-col size=8>
         <h1 class="h1-4">Celine</h1>
         <h1 class="h1-5">SD Kelas 2</h1>
         <h1 class="h1-6">Sekolah Cikal Cilandak</h1>
       </ion-col>
       <ion-col size=1>
          <img class="bin-img" src="assets/imgs/bin.png">
       </ion-col>
     </ion-row>
  </div>
</ion-row>
 <br>
 <ion-row>
    <div class="number-div">
       <h1>2</h1>
    </div>
  
    <div class="score-board-div">
       <ion-row>
         <ion-col size=3>
           <img class="space-suit" src="assets/imgs/score-bear.png">
         </ion-col>
         <ion-col size=8>
           <h1 class="h1-4">Joko</h1>
           <h1 class="h1-5">SD Kelas 2</h1>
           <h1 class="h1-6">HighScope Indonesia</h1>
         </ion-col>
         <ion-col size=1>
            <img class="bin-img" src="assets/imgs/bin.png">
         </ion-col>
       </ion-row>
    </div>
  </ion-row>
  <br>
  <ion-row>
      <div class="number-div">
         <h1>3</h1>
      </div>
    
      <div class="score-board-div">
         <ion-row>
           <ion-col size=3>
             <img class="space-suit" src="assets/imgs/score-pirate.png">
           </ion-col>
           <ion-col size=8>
             <h1 class="h1-4">Irwan</h1>
             <h1 class="h1-5">SD Kelas 5</h1>
             <h1 class="h1-6">BINUS School Simprug</h1>
           </ion-col>
           <ion-col size=1>
              <img class="bin-img" src="assets/imgs/bin.png">
           </ion-col>
         </ion-row>
      </div>
    </ion-row>
    <br><br><br><br><br><br><br><br><br><br>
        <app-footer4 style="position: fixed; bottom: 0px; width: 100%; z-index: 1111111123123;"></app-footer4>
</ion-content>
