
.custom-div{
    height: 40%;
    width: 100%;
    background-color: #6ECD41 !important;
    position: fixed;
    top: 30%;
}
.wrong-ans-img{
    height: 10vh;
    width: 10vh;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}
.h1{
    text-align: center;
    font-family: 'LooseySans';
    color: rgb(68, 3, 3);
    font-size: 4vh !important;
}
.h1-2{
    text-align: center;
    font-family: 'LooseySans';
    color: white;
    font-size: 3vh !important;
}