div {
    height: 100%;
    background-image: url('../../assets/imgs/download.png');
    background-size: 100% 60%;
    background-repeat-y: no-repeat;
    background-position-y: bottom;
    }
   div img{
      position: relative;
      bottom: 1%;
      height: 90%;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
   } 
   