ion-toolbar{
    --background: #93E022; 
    height: 100% !important;
    z-index: -1;
}
ion-header{
    height: 9% !important;
    background-color: #93E022;
}
ion-content{
    --background: url('../../assets/imgs/BACKGROUND.png') 0 0/100% 100% no-repeat;
    width:102% !important;
    background-size: cover !important;
   background-attachment: fixed !important;
}
.bulp-img{
    height: 5vh;
    width: 5vh;
    margin-top: 4px;
    margin-left: 10px;
}
.top-profile-avatar{
    height: 7vh;
    width: 5vh;
    margin-top: -3px;
}
.dollar-count-div{
    height: 4vh;
    width: 10vh;
    background-color: #7de7df;
    border: #06bbca 2px solid;
    border-radius: 5px;
    margin-left: -5vh;
    z-index: -1;
    margin-top: 9px;
}
.dollar-img{
    position: absolute;
    height: 5vh;
    width: 5vh;
    z-index: 2;
    margin-top: 5px;
}

.h1{
    font-family: 'LooseySans';
font-size: 3.2vh !important;
color: #feeb03;
text-align: left;
font-weight: bolder;
margin-top: -0.3vh;
margin-left: 10%;
   text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
@media (min-width: 375px) and  (max-width: 412px){
    .h1{
        font-family: 'LooseySans';
    font-size: 3.5vh;
    color: #feeb03;
    text-align: left;
    font-weight: bolder;
    margin-top: -0.3vh;
    margin-left: 20%;
       text-shadow:
       -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    }
}
.profile-img{
    margin-top: 15px;
    margin-left: 20px;
    width: 95%;
    height: 85%;
}
.h1-2{
    font-family: 'LooseySans';
font-size: 5vh;
color: white;
text-align: left;
font-weight: bolder;
margin-top: 50%;
margin-left: 2vh;
}
.rating-star{
    height: 12%;
    width: 12%;
    margin-left: 1.5vh;
    margin-top: -5px;
}
.placeholder-div{
    height: 10%;
    width: 60%;
    background-color: #000;
    border-radius: 20px;
    margin-left: 55px;
    position: relative;
    bottom: 30%;
    opacity: 0.4;
    color: white;
    
}
.placeholder-div p{
    margin-left: 35%;
    margin-top: 10px;
    font-family: 'LooseySans';
}
.custom-select{
    max-width: 100%;
    border-radius: 15px;
}
.h1-3{
    font-family: 'LooseySans';
font-size: 3.5vh;
color: white;
text-align: center;

}
.selector-list{
    border-radius: 15px;
    background-color:#860f7c;
    border:#d31cc4 3px solid;
    height: 40%;
    margin-top: -5%;
}
.selector-listt{
    --background:#860f7c;
    --color: white !important;
    font-size: 2.5vh;
    margin-top: -10px;
}
ion-select{
    font-family: 'LooseySans';
}
.h1-4{
    
        font-family: 'LooseySans';
    font-size: 4vh;
    color: white;
    margin-left: 10px;
    
}
ion-slides{
    --bullet-background: rgb(247, 8, 8) !important;
    --bullet-background-active: white !important;
}
.avatar3-img{
    height: 87%;
    width: 110%;
}
.avatar1-img{
    height: 92%;
    width: 110%;
    margin-top: -12px;
}