<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size=2>
        <img class="bulp-img" src="assets/imgs/bulp.png">
      </ion-col>
      <ion-col size=2>
        <img class="dollar-img" src="assets/imgs/dollar.png">
      </ion-col>
      <ion-col size=2>
        <div class="dollar-count-div">
            <h1 class="h1">1000</h1>
        </div>
      </ion-col>

      <ion-col size=2>
        <img class="dollar-img" src="assets/imgs/star.png">
      </ion-col>
      <ion-col size=2>
        <div class="dollar-count-div">
            <h1 class="h1">30</h1>
        </div>
      </ion-col>
      <ion-col size=2>
        <img class="bulp-img" src="assets/imgs/b.png" (click)="ClicktoProfilepage()">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="myview">
  <ion-row>
  <h1 class="h1-2">{{ 'RECENTLY PLAYED' | translate }}</h1>
  <img class="avatar" src="assets/imgs/Avatar_Oldman.png">
</ion-row>

<ion-row>
  <ion-col size=5>
  <div class="lets-count-outer-div">
      <div class="lets-count-inner-div">
        <ion-row>
          <ion-col size=5>
          <img class="box-img" src="assets/imgs/box.png">
        </ion-col>
        <ion-col size=2>
        </ion-col>
        <ion-col size=5>
          <p>LEVEL : 8</p>
          <img class="loader-img" src="assets/imgs/loading-bar.png">
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size=1></ion-col>
          <ion-col size=10>
            <img class="lets-count-img" src="assets/imgs/lets-count.png">
          </ion-col>
        </ion-row>
        <ion-button class="btn">{{ 'PLAY' | translate }}</ion-button>
      </div>
  </div>
</ion-col>
<ion-col size=5>
  <div class="lets-read-outer-div">
      <div class="lets-read-inner-div">
          <ion-row>
              <ion-col size=3>
              <img class="box-img" src="assets/imgs/flag.png">
            </ion-col>
            <ion-col size=4>
            </ion-col>
            <ion-col size=5>
              <p>LEVEL : 8</p>
              <img class="loader-img" src="assets/imgs/loading-bar.png">
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size=1></ion-col>
              <ion-col size=10>
                <img class="lets-count-img" src="assets/imgs/lets-read.png">
              </ion-col>
            </ion-row>
            <ion-button class="btn">{{ 'PLAY' | translate }}</ion-button>
          </div>
        </div>
    
  </ion-col>
</ion-row>

<div class="President-election-div" (click)="ClicktoFeatureScreen()">
    <img class="" src="assets/imgs/presidential-election.png">
</div>

<h1 class="h1-2">{{ 'SUBJECT' | translate }}</h1>
<ion-row>
  <ion-col size=4>
    <div class="English-div" (click)="ClicktoPlay()">
      <img class="english-avatar" src="assets/imgs/english-avatar.png">
      <p class="para">{{ 'ENGLISH' | translate }}</p>
    </div>
  </ion-col>
  <ion-col size=4>
    <div class="Bahasa-div"  (click)="ClicktoPlay()">
      <img class="bahasa-avatar" src="assets/imgs/bahasa-avatar.png">
      <p class="para1">{{ 'BAHASA' | translate }}</p>
    </div>
  </ion-col>
  <ion-col size=4>
    <div class="Math-div">
      <img class="english-avatar" src="assets/imgs/math-avatar.png" (click)="ClicktoMathPage()">
      <p class="para">{{ 'MATHEMATICS' | translate }}</p>
    </div>
  </ion-col>
</ion-row>
<br><br>
<ion-row>
    <ion-col size=4>
      <div class="English-div"  (click)="ClicktoPlay()">
        <img class="civic-avatar" src="assets/imgs/civic-avatar.png">
        <p class="para">{{ 'CIVIC' | translate }}</p>
      </div>
    </ion-col>
    <ion-col size=4>
      <div class="Bahasa-div" (click)="ClicktoPlay()">
        <img class="physics-avatar" src="assets/imgs/physics-avatar.png">
        <p class="para">{{ 'PHYSICS' | translate }}</p>
      </div>
    </ion-col>
    <ion-col size=4>
      <div class="Math-div" (click)="ClicktoPlay()">
        <img class="physics-avatar" src="assets/imgs/biology-avatar.png">
        <p class="para">{{ 'BIOLOGY' | translate }}</p>
      </div>
    </ion-col>
  </ion-row>
  <br><br>
  <ion-row>
      <ion-col size=4>
        <div class="English-div" (click)="ClicktoPlay()">
          <img class="islamic-avatar" src="assets/imgs/islamic-avatar.png">
          <p class="para">{{ 'ISLAM' | translate }}</p>
        </div>
      </ion-col>
      <ion-col size=4>
        <div class="Bahasa-div" (click)="ClicktoPlay()">
          <img class="physics-avatar" src="assets/imgs/geography-avatar.png">
          <p class="para">{{ 'GEOGRAPHY' | translate }}</p>
        </div>
      </ion-col>
      <ion-col size=4>
        <div class="Math-div" (click)="ClicktoPlay()">
          <img class="music-avatar" src="assets/imgs/music-avatar.png">
          <p class="para">{{ 'MUSIC' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>
    <br><br>
  <ion-row>
      <ion-col size=4>
        <div class="English-div" (click)="ClicktoPlay()">
          <img class="century-avatar" src="assets/imgs/21st-century.png">
          <p class="para">{{ '21ST CENTURY SKILLS' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>

    <h1 class="h1-2">{{ 'BATTLE' | translate }}</h1>

    <ion-row>
      <ion-col size=1></ion-col>
      <ion-col size=4>
        <div class="outer-player-ready-div">
           <div class="inner-player-ready-div">
                <ion-row>
                  <p>{{ 'PLAYERS READY' | translate }}</p>
                </ion-row>
                <ion-row>
                  <ion-col size=6>
                      <img class="" src="assets/imgs/bird.png">
                  </ion-col>
                  <ion-col size=6>
                    <h1>6</h1>
                  </ion-col>
                </ion-row>
           </div>
        </div>
      </ion-col>
      <ion-col size=4>
          <div class="outer-player-ready-div">
             <div class="inner-player-ready-div">
                <ion-row>
                    <p>{{ 'COINS TO WIN' | translate }}</p>
                  </ion-row>
                  <ion-row>
                    <ion-col size=5>
                        <img class="" src="assets/imgs/dollar.png">
                    </ion-col>
                    <ion-col size=7>
                      <h1>12</h1>
                    </ion-col>
                  </ion-row>
             </div>
          </div>
        </ion-col>
    </ion-row>
    <br><br><br><br><br><br><br><br><br><br>

    <app-footer1 style="position: fixed; bottom: 0px; width: 100%;"></app-footer1>

</ion-content>

<!-- <ion-footer>
    
  </ion-footer> -->
