.modal1{
    background-color: white;
    height: 10%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 15%;
}
.h1{
    font-size: 2.5vh !important;
    font-family: 'looseySans';
    color: #e53330;
    position: relative;
    bottom: 10%;
}
.h1-2{
    font-size: 2.5vh !important;
    font-family: 'looseySans';
    color: #f7a816;
    position: relative;
    bottom: 10%;
}
.h1-3{
    font-size: 2.5vh !important;
    font-family: 'looseySans';
    color: #1b55da;
    position: relative;
    bottom: 10%;
}
.h1-4{
    font-size: 2.5vh !important;
    font-family: 'looseySans';
    color: #eb548e;
    position: relative;
    bottom: 10%;
}
.strawberry{
    height: 6vh;
    width: 5vh;
    margin-top: 17%;
}
.icecream{
    height: 7vh;
    width: 5.5vh;
    margin-top: 17%;
}
.cross{
    height: 4vh;
    width: 4vh;
    margin-top: 25%;
}